
<head>
  <title>Pi</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="content" align="center">
  <h1>Hello world</h1>

  <div class="row">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="http://72.141.82.234:9090/stream/video.mjpeg"></iframe>
    </div>
  </div>

  <div class="row" style="margin-top:1%">
    <button type="button" class="btn btn-default" onclick="rotate('L')">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button type="button" class="btn btn-default" onclick="rotate('R')">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
    <button type="button" class="btn btn-default" onclick="rotate('D')">
      <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
    <button type="button" class="btn btn-default" onclick="rotate('U')">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
  </div>
</div>
</body>

<script>

function rotate(type) {
  $.ajax({
		  url: "/web_rotate",
      data: {
					rotate : type
				},
		  async: true,
		  dataType: 'json',
		  success: function (response) {
        //do nothing
		  }
  })
}

</script>
