<meta charset="utf-8">
<style>
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
</style>

<head>
  <title>Pi</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script src="//d3js.org/d3.v4.min.js"></script>
  <script src="static/js/graph.js"></script>


</head>
<body>

<div class="container">

  <h1>Security Footage</h1>
  <div class="row">
    <center>
      <a href="{{ url_for('video_feed') }}">
        <img src="{{ url_for('video_feed') }}">
      </a>
    </center>
  </div>

  <div class="row" style="margin-top:1%">
    <center>
      <button type="button" class="btn btn-default" onclick="rotate('L')">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </button>
      <button type="button" class="btn btn-default" onclick="rotate('R')">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
      <button type="button" class="btn btn-default" onclick="rotate('D')">
        <span class="glyphicon glyphicon-arrow-down"></span>
      </button>
      <button type="button" class="btn btn-default" onclick="rotate('U')">
        <span class="glyphicon glyphicon-arrow-up"></span>
      </button>
    </center>
  </div>

  <h1>Data Feeds</h1>
  <div class="row">
        <svg id="graph_1" width="700" height="250"></svg>
        <svg id="graph_2" width="700" height="250"></svg>
        <svg id="graph_3" width="700" height="250"></svg>
    </div>
</div>

</body>

<script>

function rotate(type) {
  $.ajax({
		  url: "/web_rotate",
      data: {
					rotate : type
				},
		  async: true,
		  dataType: 'json',
		  success: function (response) {
        //do nothing
		  }
  })
}

</script>
