<h2>Flask</h2>
<pre id="flask_output"></pre>

<br>
<br>

<h2>Glances</h2>
<pre id="glances_output"></pre>

<script>
    var glances_output = document.getElementById('glances_output');

    var glances_xhr = new XMLHttpRequest();
    glances_xhr.open('GET', '{{ url_for('glances_logstream') }}');
    glances_xhr.send();

    setInterval(function() {
        glances_output.textContent = glances_xhr.responseText;
    }, 1000);


    var flask_output = document.getElementById('flask_output');

    var flask_xhr = new XMLHttpRequest();
    flask_xhr.open('GET', '{{ url_for('flask_logstream') }}');
    flask_xhr.send();

    setInterval(function() {
        flask_output.textContent = flask_xhr.responseText;
    }, 1000);
</script>